@{
    ViewData["Title"] = "Home Page";
}

<div class="index-app">
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome.</h2>
            <p>This application is based on <code>.Net Core</code>.</p>
        </div>
    </div>
</div>